__pycache__
data/
.DS_Store
**/.DS_Store
articles/
database/fonts/
handwriting_line_generation
TextRecognitionDataGenerator
*.log
out
out1
wandb
saved_models
nhmd_out/
EMNIST
pictures/
NHMD_GT/
images
nhmd_base_full_final
